<br><br>
<h1 align="center">Add Employee Details</h1>
<form align="center" #get="ngForm" (ngSubmit)="add(get.value)">
    <table align="center" border="5">
        <tr>
            <td>Employee ID :</td>
            <td><input type="text" name="eid" ngModel /></td>
        </tr>
        <tr>
            <td>Employee Name :</td>
            <td><input type="text"  name="ename" ngModel/></td>
        </tr>
        <tr>
            <td>Gender :</td>
            <td><input type="text"  name="gender" ngModel/></td>
        </tr>
        <tr>
            <td>Employee Designation :</td>
            <td><input type="text"  name="edesignation" ngModel/></td>
        </tr>
        <tr>
            <td>Salary :</td>
            <td><input type="text"  name="Salary" ngModel/></td>
        </tr>
        <tr>
            <td>Employee Address :</td>
            <td><input type="text"  name="eaddress" ngModel/></td>
        </tr>
        <tr>
            <td>Employee Contact Number :</td>
            <td><input type="text"  name="econtact" ngModel/></td>
        </tr>
    </table><br><br>
        <input type="submit" value="Add Employee"/>
</form><br><br>
<form align="center" *ngIf="createdFlag;">
    <h1>Succesfully Added!!!</h1>
</form>
<!--<form *ngIf="createdFlag;">
    <table align="center" border="1">
        <tr>
            <td>Employee ID :</td>
            <td>{{createdEmployee.eid}}</td>
        </tr>
        <tr>
            <td>Employee Name :</td>
            <td>{{createdEmployee.ename}}</td>
        </tr>
        <tr>
            <td>Gender :</td>
            <td>{{createdEmployee.gender}}</td>
        </tr>
        <tr>
            <td>Employee Designation :</td>
            <td>{{createdEmployee.edesignation}}</td>
        </tr>
        <tr>
            <td>Salary :</td>
            <td>{{createdEmployee.Salary}}</td>
        </tr>
        <tr>
            <td>Employee Address :</td>
            <td>{{createdEmployee.eaddress}}</td>
        </tr>
        <tr>
            <td>Employee Contact Number :</td>
            <td>{{createdEmployee.econtact}}</td>
        </tr>
    </table>
</form>-->