<br><br>
<h1 align="center">Employee Details</h1>
<table align="center" border="5">
    <tr>
        <td (click)="sort('eid')">Employee ID</td>
        <td (click)="sort('ename')">Employee Name</td>
        <td (click)="sort('gender')">Gender</td>
        <td (click)="sort('edesignation')">Employee Designation</td>
        <td (click)="sort('Salary')">Salary</td>
        <td (click)="sort('eaddress')">Employee Address</td>
        <td (click)="sort('econtact')">Employee Contact Number</td>
        <td>Delete Operation</td>
        <td>Update Operation</td>
    </tr>
    <tr *ngFor="let det of employees | orderby:column:order">
        <td>{{det.eid}}</td>
        <td>{{det.ename}}</td>
        <td>{{det.gender}}</td>
        <td>{{det.edesignation}}</td>
        <td>{{det.Salary}}</td>
        <td>{{det.eaddress}}</td>
        <td>{{det.econtact}}</td>
        <td><button (click)="delete(det.eid)" type="button">Delete</button></td>
        <td><button (click)="updateData()" type="button">Update</button></td>
    </tr>
</table><br><br>
<div align="center" *ngIf=!isUpdate>
    <form #upd="ngForm" (ngSubmit)="update(upd.value)">
        <table border="1">
            <tr>
                <td>Employee ID</td>
                <td>Employee Salary</td>
                <td>Employee Contact No</td>
            </tr>
            <tr>
                <td><input type="text" name="eid" ngModel/></td>
                <td><input type="text" name="Salary" ngModel/></td>
                <td><input type="text" name="econtact" ngModel/></td>
            </tr>
        </table><br>
        <input type="submit" value="Update"/>
    </form>
</div>